<h2>Order Confirmation</h2> 

<div>
<h4>Name:</h4>
<p><%= @shoe.pretty_name() %></p>
</div>

<div>
<h4>Address:</h4>
<p><%= @shoe.address()  %></p>
</div>

<div>
<h4>Shoe Size:</h4>
<p><%= @shoe.shoe_size()  %></p>
</div>

<div>
<h4>Quantity:</h4>
<p><%= @shoe.quantity() %></p>
</div>

<div>
<h4>Total:</h4>
<p><%= @shoe.total() %></p>
</div>
